*{
    margin:0;
    padding:0;
}

.container-fluid{
    margin:0!important;
    padding:0 !important;
}

.scrollToTopBtn{
    position:fixed;
    bottom:3.6vw;
    right:3.6vw;
    z-index: 100;
    opacity: .5;
    transition:all 1s ease;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display:none;
    
}
.scrollToTopBtn:hover{
    opacity: 1;
}
/* Hero section starts here */
/* Navbar starts */
#hero-section{
      height:100vh;
   
}
.logo-div{
    width:3.19vw;
    height:10.19vh;
    margin-bottom:2vw;
    
}
.logo{
    margin: 1vw 0 0 6vw;
    position:relative;
    height:auto !important;
    width:100%;
    max-width:100%;
    margin-top: 0vw ;
}

#logo-text{
    font-family:"Proxima Soft Condensed";
    font-size:1.43vw;
    margin-top: 3vw;
    color: #848448;
    display:inline-block;

}

.navbar-nav{
    margin-right:6.33vw;

}
.nav-item{
    color:#0000;
    font-size:1.17vw;
    font-family:"Proxima Soft Condensed";
    margin-top: 1.95vw ;
    margin-right:1.21vw;
    
}
.navbar-light{
    color:darkblue!important;
}
.navbar-toggler-icon{
    font-size: 0.6em;
    
}
.navbar-toggler{
    padding-left:1.5%;
    padding-right:1.5%;
    padding-top: 0.75%;
    padding-bottom: 1%;
    margin-right:1%;
    margin-bottom:15% !important;
    
}
nav-link{
    cursor: pointer !important;
}
/* Navbar ends */

/* Main Hero section starts */

.m-hero-img-text{
    display: none;
}
.hero-img{
background-repeat: no-repeat;
position:relative;
width:100%;
max-width:100%;

}

.hero-img-div{
    width: 100vw; 
    height:100vh;
    margin-left:-4vw;
   margin-top: 0;
  
}

.hero-img-m{
    display: none;
}

.hero-h1{
margin-top:9vw;
padding:0;
text-align: left;
font-family: Proxima Soft Condensed;
font-style: normal;
font-weight: 600;
font-size: 3.25vw;
line-height: 5vh;
letter-spacing: 0.02em;
color: #8D8C53;
}


.hero-h2{
 /* display:contents; */
 /* margin-left:12vw; */
    padding:0;
    font-family: Proxima Soft Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    /* line-height: 100px; */
    color: #8D8C53;
}

.hero-h3{
    padding:0;
        margin-top:1vw;
        /* margin-left:12vw; */
        font-family: Proxima Soft Condensed;
    font-style: normal;
    font-weight: 400;
    font-size:1.8vw;
    width:30vw;
    height:10vw;
    line-height: 4.5vh;
    color: #622C78;
    z-index: 0;
    
}

.demo-btn{

border-radius:21px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin:0.5vw 0 0 8vw;
color: #622C78;
background-color: #FFBD5B;
font-family: Proxima Soft Condensed;
font-style: normal;
font-weight: 800;
font-size: 1.4vw;
letter-spacing: 0.03em;
z-index: 0;
border-style: none;
/* Button Animation Start */
box-shadow: inset 0 0 0 0 #622C78;
transition: ease-out 0.4s;
outline: none;
/* Button Animation End */
}

/* Button Hover Animation Start */
.demo-btn:hover {
    box-shadow:inset 300px 0 0 0 #622C78;
    color: #FFBD5B;
    cursor: pointer;
}
/* Button hover animation end */

.title-text{
   position: relative;
   /* margin-bottom:226px;
   margin-right:100px; */
   
}


#hero-blob{

position:relative;
width: 36vw;
height: 78vh;
left:0;
top: -13vw; 
z-index: -1;

}

.section-main{
    display:flex;
}

.blob{
    height:13vw;
    width:auto;
}


/* Section- What we Teach  */
.what-we-teach{
  background:linear-gradient(180deg, #FFF9F4 96%, #FFFFFF 100%), linear-gradient(0.51deg, #FFF9F4 95.42%, rgba(255, 249, 244, 0.3) 98.08%, rgba(255, 255, 255, 0) 100.32%);
  
    /* margin:auto; */
width:100%;
}

.topic-heading{
    color: #622C78;
    text-align: center;
    font-family: Proxima Soft Condensed;
font-style: normal;
font-weight: 600;
font-size: 2.75vw;
line-height: 5vh;
letter-spacing: 0.02em;
margin-bottom: 1.5vw;
padding-top: 1.5vw;
}

.line{
    width: 34vh;
    margin:auto;
    height: 0.2vw;
/* left: 603px;
top: 883px; */
text-align: center;
/* border: 0.5vw solid  #FFBD5B; */
background-color:#FFBD5B;
}

.sub-maths{
    margin-top:3vw;
    margin-left:4vw;
   
}



.maths-img{
    filter: drop-shadow(17px 19px 14px rgba(0, 0, 0, 0.25));
}
.sub-physics{
    margin-top:3vw;
    margin-left:42vw;
 
}
.phy-img{
    filter: drop-shadow(-17px -19px 14px rgba(0, 0, 0, 0.25));
}

.sub-chemistry{
    margin-top:3vw;
    margin-left:4vw;
}

.chem-img{
    filter: drop-shadow(17px 19px 14px rgba(0, 0, 0, 0.25));
}

.sub-biology{
    margin-top:3vw;
    margin-left:42vw;
}
.sub-computer{
    margin-top:3vw;
    margin-left:8vw;
    margin-bottom:3vw;
}


/* Section - Testimonials */

.testimonials{
    background: #FFFFFF ;
    margin:auto;
    width:100%;
    margin-left: 0;
  }
  .m-testimonial-img{
      display:none;
  }
  .testimonial-img{
      width:95%;
      margin-left:4vw;
  }
  /* Section- About Us */

  .aboutus{
      background-color: #FFF9F4;
      margin:auto;
      width:100%;
      height:100%;
  }

  .aboutpara{
    margin-left: 12vw;
    margin-top:2vw;
    font-family: Proxima Soft Condensed;
    font-style: normal;
    font-weight: 400;
    font-size:1.8vw;
    width:80%;
    height:100%;
    line-height: 4.5vh;
    color: #622C78;

  }

  .why-us-card1,.why-us-card2{
      margin-left:8vw;
      margin-top: 4vw;

  }
  .why-us-card3{
    margin-left:8vw;
    margin-top: 4vw;
}

.why-us-card4{
    margin-left:8vw;
    margin-top: 4vw;
}
.why-us-img{
    filter: drop-shadow(17px 14px 12px rgba(0, 0, 0, 0.25));
}
  .whyus-cardblock1{
      display: flex;
  }
  .whyus-cardblock2{
    display: flex;
    margin-left: 2vw;
}

/* Contact Us */
.contact-text{
    color: #622C78;
    text-align: center;
    font-family: Proxima Soft Condensed;
font-style: normal;
font-weight: 600;
font-size: 2.15vw;
line-height: 5vh;
letter-spacing: 0.02em;
margin-bottom: 1.5vw;
padding-top: 1.5vw;

}

input[type=text], textarea{
    width:34vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1.5vw;
    margin-bottom: 16px;
    resize: vertical;
    margin-left:5vw;
    font-family:Roboto;
    font-style: normal;
    letter-spacing: 0.04em;
    
  }
 
  #error{
    margin-left:5vw;
   
    border-radius: 4px;
  }
  input:placeholder-shown ,textarea{
    font-style: italic;
    background-color: #E1EBED;
 }
 input[type=submit]{
     margin-left:14vw;
 }
 .contact-main{
     display:flex;
 }
.contact-form{
  width:100%;
   
}
.m-contact-us-img{
    display: none;
}
.contact-image-div{
     
     width: 815px;
     height: 636px;
   margin-left:-6vw;
 }

 #contact-img{
    background-repeat: no-repeat;
    width: 815px;
    height: 636px;
    padding:2vw;
    margin-top:-5vw;
 }

 .fb{
     margin:-5vw 0 0 5vw;
    height:2.5vw;
    width:2.5vw;
    display:flex;
 }
 .gmail{
    margin:1vw 0 0 5vw;
    height:2.5vw;
    width:2.5vw;
    display:flex;
 }
 .whatsapp{
    height:3vw;
    width:3vw;
    margin:1vw 0 0 5vw;
    display:flex;
 }
 #whatsapp-img{
    height:3vw;
    width:3vw;
 }
 #fb-img,#gmail-img{
    height:2.5vw;
    width:2.5vw;
 }

 .contact-details{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    margin:0.5vw 0 0 1vw;
 }
/* Footer */
 .footer{
    background: linear-gradient(270deg, #D6FBF1 0%, #FBF2DF 100%);
    margin-top:4vw;
    display: flex;
 }

 .copyright{
     margin:3.25vw 0vw 0vw 30vw;
     text-align: center;
     width:40vw;
    
 }
 .media-links{
     display: flex;
 }



/* Ipad Pro size */
@media only screen and (max-width:1024px){
    
    .hero-img-div{
        height:auto;
    }
    .hero-h1{
        line-height: 2vh;   
        margin-left:8vw;
        margin-top:-2vw;
    }

    .hero-h2{
        margin-left:8vw;
    }
    .hero-h3{
        line-height: 2vh;   
        margin-left:8vw;
    }
.demo-btn{
    margin-top:2vw;
    margin-left:15vw;
}
    #hero-blob{
        height:auto;
        width: 37vw;
    }
    .logo-div{
        margin-top: 1.8vw;
        
    }
    .logo{
        margin-top: 0vw;
     
    }
    #logo-text{
        margin-top: 1.8vw;
        font-size:1.8vw;
       
    }
    .navbar-nav{
       margin-top:-10vw;
    }
    .nav-item{
        margin-top: 2vw !important;
        font-size: 1.5vw;
    }
    .hero-img{
       
        height:auto !important;
        width:125% ;
        max-width:125%;
        margin-top:-8vw;
        
        }

   .hero-img-div{
           margin-left:-4vw;
           margin-top: -4vw;
          
        }
    .section-sub{
        width:75%;
        max-width:75%;
    }

    .what-we-teach{
       margin-left:0;
       margin-right:0;
    }
    .sub-maths,.sub-physics,.sub-chemistry{
        margin:4% 20% 2% 15%;
    }
    .sub-biology{
        margin:4% 20% 2% 18%;
    }
    .sub-computer{
        margin:4% 20% 2% 20%;
    }
    .line{
        width: 15vh;
    }
    .topic-heading{
        margin-bottom:0;
    }       
    .testimonial-img{
        height:auto !important;
        width:95% ;
        max-width:95%;
    }
    .aboutpara{
        line-height: 2vh;
       
    }
    .whyus-cardblock1,.whyus-cardblock2{
        display: block;
    }
    .why-us-card1,.why-us-card2,.why-us-card3,.why-us-card4{
        margin:4% 20% 2% 22%;
    }
}

@media only screen and (max-width:768px){

.logo{
       
        margin-left:1vw;
        width:100%;
        max-width:100%;
        max-height:100%;
    }
    .logo-div{
        margin-top: 1.8vw;
    }
    
    #logo-text{
        margin-top: 1.6vw;
        font-size:2vw;
       
    }
    .nav-item{
        margin-top: 2vw !important;
        font-size: 1.9vw;
    }
    .navbar-nav{
        margin-right:0.5vw;
    
    }
    #hero-blob{
        margin-top:-2vw;
        height:auto;
        width: 38.5vw;
    }

    .hero-img{
       
        height:auto !important;
        width:125% ;
        max-width:125%;
        margin-top:-6vw;
        
        }

   .hero-img-div{
           margin-left:-4vw;
           margin-top: -4vw;
           height:auto !important;
        }

    .hero-h1{
      margin-top:0;
       font-size:2.8vw;
   }
   .hero-h2{
       font-size: 2.8vw;
   }
   .hero-h3{
   width:34vw;
    margin-top:-1.8vw;
       font-size:2vw;
    line-height: 2vh;
       
   }
    
   .demo-btn{
    font-size: 2vw;
    margin-top:2vw;
    /* margin-left: 12vw; */
   }  
}
@media only screen and (max-width:414px){

    .navbar-nav{
        background-color:whitesmoke;
    }
.nav-item{
    
    font-size:4vw;
    margin-left:38vw; 
    
  
}
.nav-link{
    color: #622C78!important;
}

.logo{
       
    margin-left:1vw;
    width:120%;
    max-width:120%;
    max-height:100%;
}
.logo-div{
    margin-top: 1.8vw;
    width:4vw;
    height:11vh;
    
}

#logo-text{
    margin-top: 1.6vw;
    font-size:3.5vw;
   
}

.m-hero-img-text{
    display: block;
    margin-left:24vw;
   margin-top:10vw;
}

.hero-img-m{
    display: block;
    margin-left: -1vw;
    margin-top: 0;
    width:100%;
    height:auto !important;
    background-size: cover;
}
.hero-img-div{
    height:auto;
    width:100%;
    margin-left: 0;
    margin-top: -12vw;
}
.hero-h1,.hero-h2,.hero-h3,.hero-img,.blob{
    display: none;
}
#hero-demo-btn{
    margin-top: -100vw;
    margin-left: 34vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 2.8vw;
}


    .section-main{
        display:block;
        position:relative;
    }
 
    .what-we-teach{
        margin-left:0;
        margin-right:0;
     }
     .sub-maths,.sub-physics,.sub-chemistry,.sub-biology, .sub-computer{
        width: 100%;
        height: auto;
        margin:auto;
      
     }
     .sub-physics{
         margin-left:-3vw;
     }
     .sub-chemistry{
        margin-left:-1vw;
        width: 103%;
     }
     .sub-computer{
        margin-left:2vw;
     }
     .sub-img{
         width:100%;
         height:auto;
     }
     .line{
         width: 14vh;
      
     }
     .topic-heading{
         margin-bottom:0;
         font-size:4vw;
     }      
     #testimonials-heading{
         display: none;
     } 
     .testimonial-img{
        display: none;
     }
     .m-testimonial-img{
         display: block;
         margin-left: 10vw;
     }
     .aboutpara{
         line-height: 2.75vh;
         font-size: 3.5vw;
         font-weight: 600;
         text-align: justify;
         letter-spacing: 3.5%;
         margin-left: 10vw;
     }
     .whyus-cardblock1,.whyus-cardblock2{
         display: block;
     }
     .why-us-card1,.why-us-card2{
         margin:4% 2% 2% 1%;
     }
     .why-us-card3,.why-us-card4{
        margin:4% 2% 2% 3%;
    }

     .why-us-img{
        width:100%;
        height:auto;
     }
     .scrollToTopBtn{
         height:10vw;
         width:10vw;
        top:26vw;
        right:2vw;
       
     }
     .contact-text{
         font-size: 4.2vw;
         letter-spacing: 2%;
         line-height: 3.5vh;
     }
     .contact-image-div{
         display: none;
     }
     .contact-main{
        display:block;
    }
    .m-contact-us-img{
        display: block;
        width:100%;
        height: auto;
    }
    #contact-img{
        margin-top: 2vw;
        width: 334px;
        height: 231px;
    }

    input[type=text], textarea{
        width:88vw;
        margin-left: 3vw;

    }
    input:placeholder-shown,textarea{
        font-size:3vw;
    }
    #form-btn-demo{
        margin-left:24vw;
        box-shadow: 3.53147px 2.82517px 2.82517px rgba(0, 0, 0, 0.25);
        border-radius: 14.8322px;
        width: 166.69px;
        height: 34.61px;
        justify-content: center;
        align-items: center;
        padding: 2.82517px 0px 0px 2.11888px;
        font-size: 4vw;

    }
    #footer-logo{
        display: none;
    }
}

@media only screen and (max-width:360px){

    .m-hero-img-text{
        display: block;
        margin-left:18vw;
       
    }
  
    .hero-img-m{
        display: block;
        margin-left: -4vw;
        margin-top: 0;
        width:100%;
        height:auto !important;
        background-size: cover;
    }
    .hero-img-div{
        height:auto;
        width:100%;
        margin-left: 0;
        margin-top: -12vw;
    }
    .hero-h1,.hero-h2,.hero-h3,.hero-img,.blob{
        display: none;
    }
    #hero-demo-btn{
        margin-top: -100vw;
        margin-left: 30vw;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-size: 2.8vw;
    }

    .m-testimonial-img{
        display: block;
        margin-left: 6vw;
    }
    .sub-biology,.sub-computer{
        margin-left:4vw;
    }
      
}
 
